html,body
{
    margin: 0;
    height: 100%;
    font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
    text-align: center;
    background-color: #1a1a2a;
    background-image: radial-gradient(circle, transparent 15%, #0a0b13 75%), url(noise-160.png);
    background-repeat: repeat;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: center;
    z-index: 0;
}

h1
{
    font-size: 3em;
    color: white;
}

p
{
    color: white;
}

.info
{
    display: none;
    margin-top: 8%;
    z-index: 1;
}

#coming_soon
{
    margin-bottom: 10px;
}

#load
{
    position: absolute;
    z-index: 2;
}

#load-left
{
    background-color: #333231;
    position: absolute;
    left:0;
    width: 50%;
    height:100%;
    z-index: 2;
}

#load-right
{
    background-color: #333231;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.left-loaded
{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.right-loaded
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@media only screen and (min-width: 768px)
{
    html,body
    {
        overflow-x: hidden;
    }
}

@media only screen and (min-height: 620px)
{
    .info
    {
        margin-top: 14%;
    }
}
