	* {
    box-sizing: border-box;
       }
	
	 #topnavbar
	 {
        background-color:rgb(6,7,38);
		top:0;
		left:0;
        height:40px;
        width:100%;
		position:fixed;
	 }
	 
 	
	
	 #opening
	 {
	 background-color:rgb(60,134,81);
     position:absolute;
	 top:40px;
	 left:0;
	 width:100%;
	 height:100%;
	 }
	 
	
	 #imagecontainer
	{ 
	float:left;
	margin-top: 10%;
	margin-left: 5%;
	padding : 0px 0px 0px 0px;
	margin-bottom:0px;
	
	} 
	#myphoto
	{
	height:44%;
	width:auto;
	border-radius:40%
	
	}
	#space
	{
	margin-top: 10%;
	float: left;
	height:1px;
	width:17%;
	margin-bottom:0px;
	}
	#name
	{
	margin-top: 10%;
	margin-left:0%;
	float: left;
	height:45%;
	width:auto;
	font-family:'kurale','serif';
	letter-spacing:1.5px;
	padding-top: 7%;
	padding-bottom:0px;
	padding-left:3%;
	padding-right:0px;
	margin-bottom:0px;
	}
	
	.textcentre
	{
	text-align:center;
	}
	
	#namebox
	{
	background-color:rgb(6,7,38);
	color:rgb(220,220,220);
	border-radius:12px 12px 12px 12px;
	padding:5px 10px 5px 10px;
	}
	
	#data
	{
	 border-top-color:rgb(220,220,220);
	 border-top: 2px solid;
	 background-color:rgb(60,134,81);
	 position:absolute;
	 left:0;
	 top:100%;
	 width:100%;
	 height:auto;
	 font-family:'kurale','serif';
	 font-size:250%;
	 padding-right:12.5%;
	 padding-left:12.5%;
	 padding-top:10%;
	 color:white;
	}
	
	#navicons
	{
      margin-right:0px;	
	}
	
	.navimage:hover
	{
	cursor:pointer;
	}
    
	#footer
	{
	font-family:'prociono','serif';
	position:fixed;
	left:0;
	bottom:0;
	height:auto;
	width:100%;
	background-color:rgb(6,7,38);
	color:white;
	font-size:100%;
	padding-top:10px;
	padding-bottom:10px;
	
	}
	
	#contact
	{
	position:absolute;
	right:3%;
	text-align:right;
	
	}
	
	#roll
	{
	float:left;
	width:auto;
	}